body {
  font-family: "Bebas Neue", sans-serif;
  background-color: #f0f2f5;
}

.btn,
.secondary-btn {
  color: black;
  text-decoration: none;
  padding: 15px 25px;
  margin: 20px;
  border-radius: 15px;
  font-size: 20px;
  font-family: sans-serif;
  transition: all 150ms ease-in-out;
}

.btn {
  background: #e5d9db;
  border: 2px #e5d9db solid;
}

.secondary-btn {
  background: white;
  border: 2px #e5d9db solid;
}

.btn:hover {
  background: white;
  cursor: pointer;
}

.secondary-btn:hover {
  background: #e5d9db;
  color: black;
  cursor: pointer;
  border: 2px #e5d9db solid;
}
