.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  display: grid;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 50px;
  margin-top: 30px;
}

nav li {
  list-style: none;
  margin-left: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

nav a:hover {
  text-decoration: overline;
  opacity: 0.6;
}

.header-btns {
  text-align: center;
}

.header .fa-angles-down {
  font-size: 22px;
  position: absolute;
  bottom: 0;
  left: 50%;
  border: 2px #b6cdbd solid;
  border-radius: 100%;
  padding: 7px 9px;
  margin-bottom: 20px;
  transition: all 200ms ease-in-out;
}

.header .fa-angles-down:hover {
  background-color: #b6cdbd;
  scale: 1.2;
}

@media (max-width: 1000px) {
  .header {
    width: 100vw;
  }

  nav ul {
    right: 30px;
  }
}
