.header h1 {
  font-size: 100px;
  text-align: center;
  font-weight: lighter;
  width: 1000px;
  display: block;
  margin: 100px auto;
  text-transform: uppercase;
}

.header-btns {
  text-align: center;
}
