.main {
  background-color: #e5d9db;
  margin-top: 200px;
  padding: 50px;
}

.main p {
  font-family: sans-serif;
  width: 600px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
}

.more-link {
  text-align: center;
  margin-top: 30px;
}
