.main {
  background-color: #e5d9db;
  padding: 50px 0 100px 0;
  display: flex;
  justify-content: center;
}

.main p {
  font-family: sans-serif;
  width: 600px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
}

.more-link {
  text-align: center;
  margin-top: 30px;
}

.main a:hover {
  opacity: 0.6;
}

.main img {
  max-width: 300px;
  height: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 80px;
}
